@model Data.Entities.Dashboard

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Create a dashboard</h4>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DashboardName" class="control-label" style="font-weight:bold;"> Name</label>
                <input asp-for="DashboardName" class="form-control" />
                <span asp-validation-for="DashboardName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-danger">Go back</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
