@model Data.Entities.DashboardSetting
@inject Data.Handlers.DashboardTypeHandler dashboardTypeHandler
@{
    ViewData["Title"] = "DashboardSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Data.Entities.DashboardType> dashboardTypes = await dashboardTypeHandler.GetDashboardTypes();
}

<h1>DashboardSetting - @ViewBag.DashboardName</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateDashboardSetting">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DashboardSettingId" />
            <input type="hidden" asp-for="DashboardId" />
            <input type="hidden" asp-for="DashboardTypeId" />
            <select>
                @foreach (var option in dashboardTypes)
                {
                    <option value="@option.DashboardTypeId">@option.DashboardName</option>
                }
            </select>
            <div class="form-group">
                <label asp-for="RefreshRate" class="control-label"></label>
                <input asp-for="RefreshRate" class="form-control" />
                <span asp-validation-for="RefreshRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XLabel" class="control-label"></label>
                <input asp-for="XLabel" onfocus="this.value=''" class="form-control" />
                <span asp-validation-for="XLabel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YLabel" class="control-label"></label>
                <input asp-for="YLabel" onfocus="this.value=''" class="form-control" />
                <span asp-validation-for="YLabel" class="text-danger"></span>
            </div>
        
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

