@model Data.Entities.Dashboard

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Dashboard - @Model.DashboardName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="DashboardId" />
            <input type="hidden" asp-for="DashboardSettingId" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="DateCreated" />
            <input type="hidden" asp-for="DateDeleted" />

            <div class="form-group">
                <label asp-for="DashboardName" class="control-label"></label>
                <input asp-for="DashboardName" class="form-control" />
                <span asp-validation-for="DashboardName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-danger">Go back</a>
                <a asp-action="DashboardSetting" asp-route-dashboardSettingId="@Model.DashboardSettingId" class="btn btn-outline-success">Settings</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
